body {
    font-family: sans-serif;
    margin: 0;
    background-color: #fff;
}
/* Navbar Component */
nav{
  height: 4.5rem;
  padding-left: 4rem;
}
.nav-item{
margin-bottom: 1rem;
}
.nav-link{
  color: #fff;
}
.nav-searchBar{
  margin-left: 10rem;
}
.nav-signIn{
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}
.nav-btn{
  margin-right: 1.5rem;
}
/* NAv HR */
hr{
  width: 8rem;

}
/* Heading Section */
.pullHeading{
margin-top: 6rem;
margin-left: 5rem;
}
h2{
  display: inline-block;
  font-family: 'EB Garamond', serif;
}
.h-icon{
margin-right: 3rem;
margin-bottom: 2rem;
}

/* Content of Pull Requests */
Table{
  border: 2px solid white;
  border-collapse: collapse;
  table-layout: fixed;
}

Th{
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'EB Garamond', serif;
  border-bottom: 1px solid rgb(221, 221, 221);
  text-align: center;
}
Th:hover {background-color: #ddd;}
Td{
  border-bottom: 1px solid rgb(172, 202, 202);
  text-align: left; 
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Bitter', serif;
}
Td:hover {background-color: #ddd;}
.url{
  width: 30%;
}
.title{
  width: 10%;
  word-wrap: break-word;
}
.label{
  width: 15%;
}
.authorb{
  width: 10%;
}
.created{
  width: 10%;
}
/* Infinite Scroll  */
#scrollableDiv{
  height: 800px;
    overflow: auto;
    width: 98%;
    padding: 2rem 2rem;
    display: flex;
    flexDirection: column-reverse;
}
