body {
    font-family: sans-serif;
    background-color: #ddd;
}
/* Heading Section */
.pullHeading{
  padding-top: 3rem;
  padding-left: 5rem;
  background-color: rgb(39, 35, 35);
  color: #ddd;
}
h2{
  display: inline-block;
  font-family: 'EB Garamond', serif;
}
.h-icon{
margin-right: 3rem;
margin-bottom: 2rem;
}

/* Content of Pull Requests */
Table{
  border: 3px solid rgb(49, 47, 47);
  border-collapse: collapse;
  table-layout: fixed;
  margin-top: 2rem;
}

Th{
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: 'EB Garamond', serif;
  border-bottom: 1px solid rgb(78, 65, 65);
  text-align: center;
}
Th:hover {background-color: rgb(90, 83, 83);}
Td{
  border-bottom: 1px solid rgb(46, 43, 43);
  text-align: left; 
  padding-left: 2rem;
  padding-right: 2rem;
  font-family: 'Bitter', serif;
}
Td:hover {background-color: rgb(90, 83, 83);}
.url{
  width: 20%;
  overflow-wrap: break-word;
}
.title{
  width: 15%;
  word-wrap: break-word;
}
.base{
  width: 10%;
}
.authorb{
  width: 10%;
}
.author{
  width: 10%;
}
.label{
  width: 15%;
  word-wrap: break-word;
}
.authorb{
  width: 10%;
}
.created{
  width: 10%;
  word-wrap: break-word;
}
/* Infinite Scroll  */
#scrollableDiv{
  height: 800px;
    overflow: auto;
    width: 98%;
    padding-left: 3rem;
    padding-right: 1rem;
    display: flex;
}
/* Navbar Component 
nav{
  height: 4.5rem;
  padding-left: 4rem;
}
.nav-item{
margin-bottom: 1rem;
}
.nav-link{
  color: #fff;
}
.nav-searchBar{
  margin-left: 10rem;
}
.nav-signIn{
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}
.nav-btn{
  margin-right: 1.5rem;
}
 NAv HR 
hr{
  width: 8rem;

}*/
